.picture {
    width: 200px;
    height: 200px;
    float: right;
}
.wrapper {
    width: 400px;
    height: 210px;
    border: 1px solid rgb(189, 188, 188);
    box-shadow: 3px 3px grey;
    border-radius: 10px;
    padding: 10px;
    background-color: beige;
}
.choose {
    width: 180px;
    height: 30px;
}
.string {
    font-weight: 500;
    font-size: larger;
    color: darkred;
}